---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const tours = [
  {
    title: "Tour 1",
    body: "Descripción del Tour 1",
    image: "src/assets/tourDefault.jpg",
    destination: "La Fortuna, Alajuela",
    duration: "1 día",
    price: "$99",
    description:
      "Explora el majestuoso Volcán Arenal y sus alrededores en esta emocionante aventura de un día. Disfruta de caminatas, aguas termales y vistas impresionantes.",
  },
  {
    title: "Tour 2",
    body: "Descripción del Tour 2",
    image: "src/assets/tourDefault.jpg",
    destination: "La Fortuna, Alajuela",
    duration: "1 día",
    price: "$99",
    description:
      "Explora el majestuoso Volcán Arenal y sus alrededores en esta emocionante aventura de un día. Disfruta de caminatas, aguas termales y vistas impresionantes.",
  },
];
---

<Layout title="Tours - Costa Rica Hills">
  <section class="tours-section">
    <h1>Nuestros Tours</h1>
    <ul class="tours-list">
      {tours.map((tour) => <Card {...tour} />)}
    </ul>
  </section>
</Layout>

<style>
  .tours-section {
    padding: 2rem;
    background-color: transparent;
    margin-top: 4rem;
  }

  .tours-section h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333;
  }

  .tours-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem;
    list-style: none;
    padding: 0;
  }
</style>
