---
const { userPhoto = 'src\\assets\\userDefault.jpg' } = Astro.props;
import '../styles/Header.css';
---

<header class="navbar">
  <nav>
    <!-- Logo con texto a la izquierda -->
    <div class="logo-container">
      <img src="src/assets/Logo Costa Rica Hills sin fondo.png" alt="Logo" />
      <span>Costa Rica Hills</span>
    </div>

    <!-- Opciones del usuario a la derecha -->
    <div class="nav-links">
      <a href="/tours">Tours</a>
      <a href="/about">Sobre Nosotros</a>
      
      <!-- Foto del usuario -->
      <img src={userPhoto} alt="Foto de Usuario" class="user-photo" />
    </div>
  </nav>

  <script>
    window.addEventListener('scroll', function() {
      const header = document.querySelector('.navbar');
      if (window.scrollY > 50) {
        header.classList.add('scrolled');
      } else {
        header.classList.remove('scrolled');
      }
    });
  </script>
</header>